[Unit]
Description=Bazarr daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/bazarr
ExecStart=/usr/bin/python3 bazarr.py
KillSignal=SIGINT
Restart=always
TimeoutStopSec=20
SyslogIdentifier=bazarr
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target