[Unit]
Description=Code Server daemon
After=network-online.target

[Service]
Type=exec
User=agneev
Group=agneev
WorkingDirectory=/home/agneev/code-server
ExecStart=code-server --port 8200 --auth none
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target