[Unit]
Description=code-server daemon
After=network-online.target

[Service]
Type=exec
User=agneev
Group=agneev
ExecStart=/usr/bin/code-server --port 8200 --auth none

[Install]
WantedBy=multi-user.target