[Unit]
Description=rclone crypt daemon
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=notify
Environment=RCLONE_UMASK=002
Environment=RCLONE_ALLOW_OTHER=true
Environment=RCLONE_BUFFER_SIZE=400M
Environment=RCLONE_USE_MMAP=true
Environment=RCLONE_DIR_CACHE_TIME=1000h
Environment=RCLONE_POLL_INTERVAL=15s
Environment=RCLONE_EXCLUDE=crypt/**
Environment=RCLONE_LOG_LEVEL=NOTICE
Environment=RCLONE_RC_ADDR=127.0.0.1:5801
ExecStart=/usr/bin/rclone mount crypt: /mnt/crypt --rc
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true _async=true --rc-addr 127.0.0.1:5801
ExecStop=/bin/fusermount -uz /mnt/crypt
Restart=always
RestartSec=15
User=agneev
Group=agneev
SyslogIdentifier=crypt

[Install]
WantedBy=multi-user.target