[Unit]
Description = mergerFS rclone drive mount
RequiresMountsFor = /mnt/drive /mnt/crypt

[Mount]
What = /opt/.drive:/mnt/drive:/mnt/crypt
Where = /drive
Type = fuse.mergerfs
Options = defaults,allow_other,use_ino,func.getattr=newest,dropcacheonclose=true,cache.files=auto-full,category.action=all,category.create=ff,fsname=drive-crypt

[Install]
WantedBy = multi-user.target