[Unit]
Description=Kitana daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/Kitana
Environment=PYTHONPATH=/opt/Kitana
ExecStart=/usr/bin/python3 kitana.py
Restart=always
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target