[Unit]
Description = mergerFS mount
RequiresMountsFor = /mnt/pool/*

[Mount]
What = /mnt/pool/*
Where = /knox
Type = fuse.mergerfs
Options = defaults,dropcacheonclose=true,category.create=rand,allow_other,use_ino,fsname=mergerFS

[Install]
WantedBy = multi-user.target