[Unit]
Description = mergerFS drive pool mount

[Mount]
What = /mnt/pool/*
Where = /knox
Type = fuse.mergerfs
Options = defaults,allow_other,use_ino,cache.files=partial,category.create=pfrd,dropcacheonclose=true,fsname=pooled-drives

[Install]
WantedBy = multi-user.target
