[Unit]
Description=Librespeed daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/librespeed/src
ExecStart=/usr/bin/node SpeedTest.js
KillMode=process
Restart=always
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target