[Unit]
Description=mergerFS /mnt/pool ext. drives mount

[Service]
Type=forking
ExecStart=/usr/bin/mergerfs \
	/mnt/pool/* /mnt/knox \
	-o defaults \
	-o allow_other \
	-o use_ino \
	-o cache.files=partial \
	-o category.create=pfrd \
	-o dropcacheonclose=true \
	-o fsname=/mnt/pool
ExecStop=/bin/fusermount -uz /mnt/knox

[Install]
WantedBy=multi-user.target