[Unit]
Description = mergerFS media combined mount

[Service]
Type = forking

ExecStart = mergerfs \
	/opt/media-files=RW,6G:/mnt/D2/media:/mnt/HG500/media \
	/mnt/mfs-media \
	-o category.create=mfs,category.action=all \
	-o func.getattr=newest,fsname=mfs-media \
	-o dropcacheonclose=true,cache.files=partial

ExecStop = umount -v /mnt/mfs-media

[Install]
WantedBy = default.target