[Unit]
Description = mergerFS media combined mount

[Service]
Type = forking

ExecStart = mergerfs \
	/home/agneev/drive-local:/mnt/rc-crypt:/mnt/vps/*:/mnt/media-drive/media /mnt/mfs-drive \
	-o defaults,allow_other,dropcacheonclose=true,func.getattr=newest,category.action=all,category.create=ff,fsname=mfs-drive \
	-o cache.files=auto-full,cache.readdir=true,cache.entry=120,cache.attr=120,cache.statfs=10

ExecStop = fusermount -uz /mnt/mfs-drive

[Install]
WantedBy = multi-user.target
