[Unit]
Description = mergerFS external drives mount

[Service]
Type = forking

ExecStart = mergerfs \
	/mnt/pool/* /mnt/knox \
	-o defaults,allow_other,cache.files=auto-full,func.getattr=newest,category.create=pfrd,dropcacheonclose=true,fsname=/mnt/pool

ExecStop = fusermount -uz /mnt/knox

[Install]
WantedBy = multi-user.target
