[Unit]
Description=rclone plexdrive crypt daemon
After=pd-drive.service network-online.target

[Service]
Type=notify
Environment=RCLONE_ALLOW_OTHER=true
Environment=RCLONE_EXCLUDE=crypt/**

ExecStart=/usr/bin/rclone mount pd-crypt: /mnt/pd-crypt
ExecStop=/bin/fusermount -uz /mnt/pd-crypt

Restart=on-failure
RestartSec=20
User=agneev
Group=agneev
SyslogIdentifier=pd-crypt

[Install]
WantedBy=multi-user.target