[Unit]
Description=qbittorrent-bot daemon
After=qbt.service

[Service]
Type=idle
WorkingDirectory=/opt/qbittorrent-bot
ExecStart=/usr/bin/python3 main.py
Restart=on-failure
User=agneev
Group=agneev
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=qbtbot

[Install]
WantedBy=multi-user.target