[Unit]
Description = rclone crypt: daemon
After = network-online.target

[Service]
Type = notify
Environment = RCLONE_ALLOW_OTHER=true
Environment = RCLONE_DIR_CACHE_TIME=1000h
Environment = RCLONE_POLL_INTERVAL=15s
Environment = RCLONE_USE_MMAP=true

ExecStart = rclone mount \
	crypt: /mnt/rc-crypt \
	--buffer-size=60M

ExecStartPost = screen -dm -S rc-crypt rclone size /mnt/rc-crypt
ExecStop = fusermount -uz /mnt/rc-crypt

Restart = on-failure
RestartSec = 20
User = agneev
Group = agneev
SyslogIdentifier = rc-crypt

[Install]
WantedBy = multi-user.target