[Unit]
Description=rclone crypt daemon
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_ALLOW_OTHER=true
Environment=RCLONE_POLL_INTERVAL=10s
Environment=RCLONE_DIR_CACHE_TIME=1000h
Environment=RCLONE_USE_MMAP=true
Environment=RCLONE_VFS_CACHE_MODE=writes
Environment=RCLONE_PACER_MIN_SLEEP=10ms
Environment=RCLONE_DRIVE_PACER_BURST=200
Environment=RCLONE_RC_ADDR=0.0.0.0:5801
Environment=RCLONE_RC_ENABLE_METRICS=true

ExecStart=/usr/bin/rclone mount crypt: /mnt/rc-crypt \
#	-vv --log-file=/mnt/tmpcache/crypt.log \
	--vfs-read-chunk-size 20M \
	--buffer-size 400M \
	--rc
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true _async=true --rc-addr ${RCLONE_RC_ADDR}
ExecStop=/bin/fusermount -uz /mnt/rc-crypt

Restart=on-failure
RestartSec=20
User=agneev
Group=agneev
SyslogIdentifier=rc-crypt

[Install]
WantedBy=multi-user.target