[Unit]
Description=Tautulli daemon
After=network-online.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/bin/python3 /opt/Tautulli/Tautulli.py \
        --config /opt/Tautulli/config.ini \
        --datadir /opt/Tautulli \
        --quiet --daemon --nolaunch
StartLimitInterval=90
StartLimitBurst=3
GuessMainPID=no
Restart=on-abnormal
RestartSec=5
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target