[Unit]
Description=tele-aria2 daemon
After=aria2.service

[Service]
Type=simple
ExecStart=/usr/bin/tele-aria2 -c /home/agneev/.config/tele-aria2/config.json
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target