[Unit]
Description=tele-aria2 Daemon
Wants=aria2.service
After=aria2.service

[Service]
Type=simple
ExecStart=/home/agneev/.nvm/versions/node/v12.18.2/bin/tele-aria2 \
        --aria2-server http://127.0.0.1:6800/jsonrpc \
        --aria2-key xxxxx \
        --bot-key xxxxx:xxxxx \
        --user-id xxxxx
KillMode=process
Restart=on-failure
RestartSec=10
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target