[Unit]
Description=webui-aria2 daemon
After=aria2.service

[Service]
Type=simple
WorkingDirectory=/opt/webui-aria2
ExecStart=/usr/bin/node node-server.js
Restart=on-failure
User=agneev
Group=agneev

[Install]
WantedBy=multi-user.target